/** COLOR
http://www.sessions.edu/color-calculator
Triadic
Color'	: Violet : #a861ff > #e3c7ff
Color''	: Vert : #61ffa8 > #c7ffe3 > #3ea64d
Color''': Orange : #ffa861 > #ffe3c7
*/

/*******************************************************************************
* Header
*/
body {
	padding-top: 50px;
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #DDDDDD;

}

h2 {
	color : #ffa861;
	background-color: #222;
	width: 100%;
	padding: 1%;
	margin: 0;
	text-align: center;
}

h2 > em  {
	margin-top: 1%;
	font-size: 0.5em;
	color: #ffe3c7;
}

h3 > em  {
	margin-top: 1%;
	font-size: 0.5em;
}

/*******************************************************************************
* Nav
*/
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: #ffe3c7;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand {
	color: #ffa861;
}


ul.dropdown-menu > li > a > em {
	background-color: #DDD;
	font-size: 0.7em;
	padding: 3px;
	border-radius: 5px;
	font-family: monospace;
}

/*******************************************************************************
* Content div : ccc
*/
.ccc {
	background-color: #FFFFFF;
	margin-bottom: 40px;
}

.ccc > h3 {
	color : #ffa861;
	padding: 10px;
	border-bottom: 1px solid #ffa861;
	margin: 0;
}

.ccc > .content {
	padding: 10px;
}

.ccc hr {
	border-color: #ffa861;
}

/*******************************************************************************
* Console
*/
#indicator {
	border: 10px solid #000;
	line-height: 14px;
	background-color: #AAA;
}

.lvld {
	background-color: #999;
}

#indicator.ok,
.lvlok {
	background-color: #9fff82;
}

#indicator.ko,
.lvlko {
	background-color: #ff829f;
}

#indicator.warn,
.lvlwarn {
	background-color: #ffb282;
}

#indicator.wait {
	background-color: #0FF;
	-webkit-animation: colorwait 0.5s;
	animation-direction: alternate;
	animation-iteration-count:infinite;
}
@keyframes colorwait {
	0%   {background: #F0F;}
	50%   {background: #FF0;}
	100%  {background: #0FF;}
}

.lvl {
	color: black;
	padding: 1px;
}

#calledUrl {
	padding: 1px;
	width: 100%;
	font-size: 0.8em;
	font-family: monospace;
	border: 10px solid #000;
	margin-bottom: 0;
	word-wrap:break-word;
}
/* Url hightlight */
#calledUrl .param {color:#DE93FE;}
#calledUrl .value {color:#00C58B;}

#console {
	overflow: auto;
	background-color: #000;
	color: #c7ffe3;
	font-family: monospace;
	font-size: 0.8em;
	padding: 10px;
}

#console ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#console li {
	margin-top:10px;
}

#console p {
	margin: 0;
}

#console pre {
	background-color: #000;
	border: none;
	overflow: visible;
	font-size: 0.8em;
	color: #DDD;
	padding: 0;
	margin: 0;
	margin-left: 20px;
}

/*******************************************************************************
* Say
*/
#say, blockquote {
	border-left: 3px solid #a861ff;
	color:#a861ff;
	font-style: italic;
	font-family: cursive;
}

#say.content, blockquote.content {
	border: none;
	text-align: center;
}

/*******************************************************************************
* Module Desc
*/
.moduleDesc {
	font-size: 1em;
}

.moduleDesc article {
	border-bottom: 1px solid black;
}

/** TODO Css non revue aprés cette ligne */
/** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** */
/********************
*** Play page *******
*********************/



/************************
*** Config **************
*************************/

.placeholder {
	background-color: #e3c7ff;
	color:#a861ff;
	font-family: monospace;
}

.v-toolbar {
	background-color: #DEDEDE;
}

.miniBtHelper {
	font-size: 0.7em;
}

/** Edite Form */
.editeForm {
	background-color: #DEDEDE;
	padding:1px 15px;
}

.confpav a,
.confpav a:visited {
	color:#3ea64d;
}

.confpav a:hover {
	color:#61ffa8;
}

.confpav {
	margin: 10px;
	border: 1px dotted #ffa861;
}

.confpav li {
	border-left: 1px dotted #ffa861;
}

.confpavcontent {
	padding: 10px;
}

ol.confpavcontent {
	padding-left: 30px;
}

.confpav li {
	border-left: 0px dotted #ffa861;
	padding-left: 3px;
}

.confpav header {
	text-align: center;
	border-bottom: 1px dotted #ffa861;
	padding-top: 0.8em;
}

.confpav header h3 {
	color: #ffa861;
	margin: 0;
}

article.confpav header h3::before {
	content: '\0023';
}

.confpav blockquote {
	padding: 0;
	margin: 0;
	font-size: 1em;
	border: none;
	color: #a861ff;
	text-align: justify;
}

.confpav blockquote::before,
.confpav blockquote::after {
	color: #a861ff;
	font-weight: bold;
	font-size: 1.1em;
}

.confpav blockquote::before {
	content: "\201C";
}

.confpav blockquote::after {
	content: '\201D';
}

.confpav .frequency::before {
	content: '\00D7';
}

.confpav header aside,
.confpav aside {
	font-size: 0.8em;
}

.confpav li {
	margin-bottom: 15px;
}

.confpav .help-block {
	font-size: 0.8em;
}

/** >> Hover system */
.confpav header aside,
.confpav .actionAdd,
.confpav ol aside .action {
	visibility: hidden;
}

.confpav:hover header aside,
.confpav ol li:hover aside .action,
.confpav:hover .actionAdd {
	visibility: visible;
}

.confpav:hover {
	border-style: solid;
	/*-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.69);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.69);*/
	box-shadow: 0px 0px 20px 0px #ffa861;
}

.confpav:hover header {
	border-bottom-style: solid;
}

.confpav li:hover {
	border-left-width: 1px;
	padding-left: 2px;
}
/** << Fin hover system */
