/** COLOR
http://www.sessions.edu/color-calculator
Triadic
Color'	: Violet : #a861ff > #e3c7ff
Color''	: Vert : #61ffa8 > #c7ffe3 > #3ea64d
Color''': Orange : #ffa861 > #ffe3c7
*/

body {
 	padding-top: 50px;
}

h2, h1 {
	color : #ffa861;
	background-color: #ffe3c7;
	border: 0px solid #ffa861;
	border-width: 3px 0;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin: 20px 0 40px 0;
}

h2:empty {
	display: none;
    font-weight: bold;
}

h3 {
	color : #ffa861;
}

pre.console,
#calledUrl,
blockquote.phrase {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: #ffe3c7;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand {
	color: #ffa861;
}

pre.console:empty {
	display: none;
}

pre.console, #wait {
	background-color: #404040;
	color: #c7ffe3;
	border:3px solid #c7ffe3;
	text-align: left;
	font-family: monospace;
	font-size: 0.8em;
}

pre.console .error {
	color: red;
	border-color: red;
}

pre.console hr {
	border:1px solid #c7ffe3;
}

#wait {
    border-bottom: 0;
    text-align: center;
}

#wait ~ pre.console {
	margin-top: 0;
    border-top: 0;
}

/********************
*** Play page *******
*********************/
#calledUrl {
	padding: 1px;
	width: 100%;
	font-size: 0.8em;
	font-family: monospace;
	border: 2px inset #c7ffe3;
    margin-bottom: 0;
    word-wrap:break-word;
}

#calledUrl .base {
	color:pink;
}

#calledUrl .param {
	color:red;
}

blockquote.phrase {
	background-color: #e3c7ff;
	border-left: 5px solid #a861ff;
	color:#a861ff;
	padding: 5px;
	text-align: left;
	font-style: italic;
	padding-left: 20px;
}


/************************
*** Config **************
*************************/

.placeholder {
	background-color: #e3c7ff;
	color:#a861ff;
	font-family: monospace;
}

.v-toolbar {
	background-color: #DEDEDE;
}

.miniBtHelper {
	font-size: 0.7em;
}

/** Edite Form */
.editeForm {
	background-color: #DEDEDE;
	padding:1px 15px;
}

.confpav a,
.confpav a:visited {
	color:#3ea64d;
}

.confpav a:hover {
	color:#61ffa8;
}

.confpav {
	margin: 10px;
	border: 1px dotted #ffa861;
}

.confpav li {
	border-left: 1px dotted #ffa861;
}

.confpavcontent {
	padding: 10px;
}

ol.confpavcontent {
	padding-left: 30px;
}

.confpav li {
	border-left: 0px dotted #ffa861;
	padding-left: 3px;
}

.confpav header {
	text-align: center;
	border-bottom: 1px dotted #ffa861;
	padding-top: 0.8em;
}

.confpav header h3 {
	color: #ffa861;
	margin: 0;
}

article.confpav header h3::before {
	content: '\0023';
}

.confpav blockquote {
	padding: 0;
	margin: 0;
	font-size: 1em;
	border: none;
	color: #a861ff;
	text-align: justify;
}

.confpav blockquote::before,
.confpav blockquote::after {
	color: #a861ff;
	font-weight: bold;
	font-size: 1.1em;
}

.confpav blockquote::before {
	content: "\201C";
}

.confpav blockquote::after {
	content: '\201D';
}

.confpav .frequency::before {
	content: '\00D7';
}

.confpav header aside,
.confpav aside {
	font-size: 0.8em;
}

.confpav li {
	margin-bottom: 15px;
}

.confpav .help-block {
	font-size: 0.8em;
}

/** >> Hover system */
.confpav header aside,
.confpav .actionAdd,
.confpav ol aside .action {
	visibility: hidden;
}

.confpav:hover header aside,
.confpav ol li:hover aside .action,
.confpav:hover .actionAdd {
	visibility: visible;
}

.confpav:hover {
	border-style: solid;
	/*-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.69);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.69);*/
	box-shadow: 0px 0px 20px 0px #ffa861;
}

.confpav:hover header {
	border-bottom-style: solid;
}

.confpav li:hover {
	border-left-width: 1px;
	padding-left: 2px;
}
/** << Fin hover system */
