/** COLOR
http://www.sessions.edu/color-calculator
Triadic
Color'	: Violet : #a861ff > #e3c7ff
Color''	: Vert : #61ffa8 > #c7ffe3 > #3ea64d
Color''': Orange : #ffa861 > #ffe3c7
*/

/*******************************************************************************
* Header
*/
body {
	padding-top: 50px;
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #DDDDDD;

}

h2 {
	color : #ffa861;
	background-color: #222;
	width: 100%;
	padding: 1%;
	margin: 0;
	text-align: center;
}

h2 > em  {
	margin-top: 1%;
	font-size: 0.5em;
	color: #ffe3c7;
}

h3 > em  {
	margin-top: 1%;
	font-size: 0.5em;
}

/*******************************************************************************
* Nav
*/
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: #ffe3c7;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand {
	color: #ffa861;
}


ul.dropdown-menu > li > a > em {
	background-color: #DDD;
	font-size: 0.7em;
	padding: 3px;
	border-radius: 5px;
	font-family: monospace;
}

#version {
	color: #ffe3c7;
	float: right;
	text-align: center;
	padding: 1%;
	font-size: 0.7em;
}

/*******************************************************************************
* Content div : ccc
*/
.ccc {
	background-color: #FFFFFF;
	margin-bottom: 40px;
}

.ccc > h3 {
	color : #ffa861;
	padding: 10px;
	border-bottom: 1px solid #ffa861;
	margin: 0;
}

.ccc > .content {
	padding: 10px;
}

.ccc hr {
	border-color: #ffa861;
}

/*******************************************************************************
* Console
*/
#indicator {
	border: 10px solid #000;
	line-height: 14px;
	background-color: #AAA;
}

.lvld {
	background-color: #999;
}

#indicator.ok,
.lvlok {
	background-color: #9fff82;
}

#indicator.ko,
.lvlko {
	background-color: #ff829f;
}

#indicator.warn,
.lvlwarn {
	background-color: #ffb282;
}

#indicator.wait {
	background-color: #0FF;
	-webkit-animation: colorwait 0.5s;
	animation-direction: alternate;
	animation-iteration-count:infinite;
}
@keyframes colorwait {
	0%   {background: #F0F;}
	50%   {background: #FF0;}
	100%  {background: #0FF;}
}

.lvl {
	color: black;
	padding: 1px;
}

#calledUrl {
	padding: 1px;
	width: 100%;
	font-size: 0.8em;
	font-family: monospace;
	border: 10px solid #000;
	margin-bottom: 0;
	word-wrap:break-word;
}
/* Url hightlight */
#calledUrl .param {color:#DE93FE;}
#calledUrl .value {color:#00C58B;}

#console {
	overflow: auto;
	background-color: #000;
	color: #c7ffe3;
	font-family: monospace;
	font-size: 0.8em;
	padding: 10px;
}

#logTable {
	background-color: #000;
	color: #c7ffe3;
	font-family: monospace;
	font-size: 0.8em;
}

#logTable thead{
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

#console ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#console li {
	margin-top:10px;
}

#console p {
	margin: 0;
}

#console pre {
	background-color: #000;
	border: none;
	overflow: visible;
	font-size: 0.8em;
	color: #DDD;
	padding: 0;
	margin: 0;
	margin-left: 20px;
}

/*******************************************************************************
* Say
*/
#say, blockquote {
	border-left: 3px solid #a861ff;
	color:#a861ff;
	font-style: italic;
	font-family: cursive;
}

#say.content, blockquote.content {
	border: none;
	text-align: center;
}

/*******************************************************************************
* Module Desc
*/
.moduleDesc {
	font-size: 1em;
}

.moduleDesc article {
	border-bottom: 1px solid black;
}

/*******************************************************************************
* Forms
*/
small.text-muted {
	display: block;
}

.datadisp {
	font-size:0.7em;
	padding:3px;
	margin-left: 10%;
	margin-top: 10px;
	font-family: monospace;
	background-color: LemonChiffon;
}

ul.datadisp {
	list-style-position: inside;
}

.datadisp#voicekeytexts {
	height: 100px;
	overflow: auto;
}

.datadisp#subvoicekeylist {
	columns:3;
	-webkit-columns:3;
	-moz-columns:3;
	max-height: 100px;
	overflow: auto;
}

.datadisp#hourvars {
	columns:2;
	-webkit-columns:2;
	-moz-columns:2;
	list-style: none;
}

.datadisp#hourvars li:first-child {
	font-weight: bold;
	font-size: 1.2em;
}
