<script src="voicifyCore/view/configWording/app.js"></script>

<section ng-app="configWording">

	<!-- Static navbar -->
	<nav class="navbar navbar-default v-toolbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarVk" aria-expanded="false" aria-controls="navbarVk">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Voicekey <span class="badge">99</span></a>
			</div>
			<div id="navbarVk" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<form class="navbar-form navbar-right" role="search">
							<input type="text" class="form-control" placeholder="Recherche">
						</form>
					</li>
					<li>
						<form class="navbar-form navbar-right" role="add">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">#</span>
								<input type="text" class="form-control" placeholder="Nouveau voicekey" aria-describedby="basic-addon1">
								<div class="input-group-btn"><button type="button" class="btn btn-default" aria-label="Add"><span class="glyphicon glyphicon-plus"></span></button></div>
							</div>
						</form>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<button type="button" class="btn btn-default navbar-btn btn-success">Sauvegarder</button>
					</li>
					<li>
						<button type="button" class="btn btn-default navbar-btn btn-danger">Annuler</button>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>

<div class="row">
	<div class="col-xs-6 col-lg-4">
		<article class="confpav">
			<header>
				<h3>ouvertureGarage</h3>
				<aside><a href="#">modifier</a> - <a href="#">supprimer</a></aside>
			</header>
			<ol class="confpavcontent">
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside class="actionAdd"><span><a href="#">ajouter</a></aside>
				</li>
			</ol>
		</article>
	</div>
	<div class="col-xs-6 col-lg-4">
		<article class="confpav">
			<header>
				<h3>ouvertureGarage</h3>
				<aside><a href="#">modifier</a></aside>
			</header>
			<ol class="confpavcontent">
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside><span><a href="#">ajouter</a></aside>
				</li>
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside class="actionAdd"><span><a href="#">ajouter</a></aside>
				</li>
			</ol>
		</article>
	</div>
	<div class="col-xs-6 col-lg-4">
		<article class="confpav">
			<header>
				<h3>ouvertureGarage</h3>
				<aside><a href="#">modifier</a></aside>
			</header>
			<ol class="confpavcontent">
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside class="actionAdd"><span><a href="#">ajouter</a></aside>
				</li>
			</ol>
		</article>
	</div>

	<div class="col-xs-6 col-lg-4">
		<form class="confpav">
			<header>
				<h3>Modification wording</h3>
				<aside>&nbsp;</aside>
			</header>
			<div class="confpavcontent">
				<div class="form-group">
					<label for="voicekey">Voicekey</label>
					<input type="text" class="form-control" id="voicekey" readonly aria-describedby="helpVoicekey" value="toto">
					<p class="help-block" id="helpVoicekey">Le mot clé de ratachement.</p>
				</div>
				<div class="form-group">
					<label for="text">Wording</label>
					<textarea class="form-control" rows="3" placeholder="text" name="text" id="text" aria-describedby="helpText"></textarea>
					<span class="input-group-btn">
						<button class="btn btn-default btn-xs" type="button">{0}</button>
					</span>
					<p class="help-block" id="helpText">Votre texte avec utilisation possible d'emplacement variable comme : {0}</p>
				</div>
				<div class="form-group">
					<label for="frequency">Fréquence</label>
					<input type="number" value="1" min="0" max="100" aria-describedby="helpFrenquency" >
					<p class="help-block" id="helpFrenquency">La fréquence à laquel ce text peut être choisie. Utiliser 0 pour désactiver ce texte.</p>
				</div>
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success">Valider</button>
					<button type="reset" class="btn btn-danger">Annuler</button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-xs-6 col-lg-4">
		<form class="confpav">
			<header>
				<h3>Modification Voicekey</h3>
				<aside>&nbsp;</aside>
			</header>
			<div class="confpavcontent">
				<div class="form-group">
					<label for="voicekey">Voicekey</label>
					<input type="text" class="form-control" id="voicekey" aria-describedby="helpVoicekey" value="toto">
					<p class="help-block" id="helpVoicekey">Le mot clé de ratachement.</p>
				</div>
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success">Valider</button>
					<button type="reset" class="btn btn-danger">Annuler</button>
				</div>
			</div>
		</form>
	</div>

</div>

<pre class="console">
	{{4+5}}
</pre>
</section>
