<script src="voicifyCore/view/configText/app.js"></script>

<section ng-app="configText">

<style>
	.visual {
		background-color: pink;
	}
</style>
<div class="btn-group col-md-push-right" role="group">
	<button type="submit" class="btn btn-success">Apliquer</button>
	<button type="reset" class="btn btn-danger">Annuler</button>
</div>

<div class="row">
	<div class="col-xs-6 col-lg-4">
		<article class="confpav">
			<header>
				<h3>ouvertureGarage</h3>
				<aside><a href="#">modifier</a></aside>
			</header>
			<ol class="confpavcontent">
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside class="actionAdd"><span><a href="#">ajouter</a></aside>
				</li>
			</ol>
		</article>
	</div>
	<div class="col-xs-6 col-lg-4">
		<article class="confpav">
			<header>
				<h3>ouvertureGarage</h3>
				<aside><a href="#">modifier</a></aside>
			</header>
			<ol class="confpavcontent">
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside><span><a href="#">ajouter</a></aside>
				</li>
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside class="actionAdd"><span><a href="#">ajouter</a></aside>
				</li>
			</ol>
		</article>
	</div>
	<div class="col-xs-6 col-lg-4">
		<article class="confpav">
			<header>
				<h3>ouvertureGarage</h3>
				<aside><a href="#">modifier</a></aside>
			</header>
			<ol class="confpavcontent">
				<li>
					<blockquote>mi porta gravida at eget</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>ros diam, bibendum sit amet risus sed, rhoncus blandit justo. Etiam sodales facilisis augue vel frin</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Fusce viverra vitae diam quis facilisis.</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<blockquote>Vestibulum consequat tellus ac risus dictum aliquet. Duis varius felis sed diam pharetra placerat ut id elit. Curabitur sollicitudin sem quis imperdiet rutrum. Donec pretium maximus lectus</blockquote>
					<aside><span class="frequency">8</span><span class="action"> - <a href="#">modifier</a> - <a href="#">supprimer</a></span></aside>
				</li>
				<li>
					<aside class="actionAdd"><span><a href="#">ajouter</a></aside>
				</li>
			</ol>
		</article>
	</div>

	<div class="col-xs-6 col-lg-4">
		<form class="confpav">
			<header>
				<h3>Modification texte</h3>
				<aside>&nbsp;</aside>
			</header>
			<div class="confpavcontent">
				<div class="form-group">
					<label for="voicekey">Voicekey</label>
					<input type="text" class="form-control" id="voicekey" readonly aria-describedby="helpVoicekey" value="toto">
					<p class="help-block" id="helpVoicekey">Le mot clé de ratachement.</p>
				</div>
				<div class="form-group">
					<label for="text">Text</label>
					<textarea class="form-control" rows="3" placeholder="text" name="text" id="text" aria-describedby="helpText"></textarea>
					<span class="input-group-btn">
						<button class="btn btn-default btn-xs" type="button">{0}</button>
					</span>
					<p class="help-block" id="helpText">Votre texte avec utilisation possible d'emplacement variable comme : {0}</p>
				</div>
				<div class="form-group">
					<label for="frequency">Fréquence</label>
					<input type="number" value="1" min="0" max="100" aria-describedby="helpFrenquency" >
					<p class="help-block" id="helpFrenquency">La fréquence à laquel ce text peut être choisie. Utiliser 0 pour désactiver ce texte.</p>
				</div>
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success">Valider</button>
					<button type="reset" class="btn btn-danger">Annuler</button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-xs-6 col-lg-4">
		<form class="confpav">
			<header>
				<h3>Modification Voicekey</h3>
				<aside>&nbsp;</aside>
			</header>
			<div class="confpavcontent">
				<div class="form-group">
					<label for="voicekey">Voicekey</label>
					<input type="text" class="form-control" id="voicekey" aria-describedby="helpVoicekey" value="toto">
					<p class="help-block" id="helpVoicekey">Le mot clé de ratachement.</p>
				</div>
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success">Valider</button>
					<button type="reset" class="btn btn-danger">Annuler</button>
				</div>
			</div>
		</form>
	</div>

</div>

<pre class="console">{{4+5}}</pre>
</section>
