/** COLOR
http://www.sessions.edu/color-calculator
Triadic
Color'	: Violet : #a861ff > #e3c7ff
Color''	: Vert : #61ffa8 > #c7ffe3
Color''': Orange : #ffa861 > #ffe3c7
*/

body {
 	padding-top: 50px;
}

h2, h1 {
	color : #ffa861;
	background-color: #ffe3c7;
	border: 0px solid #ffa861;
	border-width: 3px 0;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin: 20px 0 40px 0;
}

pre.console,
blockquote.phrase {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: #ffe3c7;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand {
	color: #ffa861;
}

pre.console {
	background-color: #404040;
	color: #c7ffe3;
	border-color:#c7ffe3;
	text-align: left;
	font-family: monospace;
	font-size: 0.8em;
}

blockquote.phrase {
	background-color: #e3c7ff;
	border-left: 5px solid #a861ff;
	color:#a861ff;
	padding: 5px;
	text-align: left;
	font-style: italic;
	padding-left: 20px;
}
